<%- include('includes/header.ejs') %>
<main>
  <% if (binFileList.length === 0) {%>
  <p>Nothing to show</p>
  <%} else {%>
  <table>
    <tr>
      <td>Sl No</td>
      <td>Name</td>
      <td>Version</td>
      <td>Added Date</td>
      <td>Batch</td>
    </tr>
    <% binFileList.forEach((val, ind) => { %>
    <tr>
      <td> <%= ind + 1 %> </td>
      <td><a href="/uploads/<%= val.path %>"><%= val.path %></a></td>
      <td> <%= val.v %> </td>
      <td><%= val.addedDate.toLocaleString('in') %></td>
      <td><a href="/batches/<%= val.batchId%>"><%= val.batch %></a></td>
    </tr>
    <%})%>
  </table>
  <%}%>
</main>
<%- include('includes/footer.ejs') %>
