<%- include('includes/header.ejs') %>
<main>
  <ul>
    <li>
      link: <a href="/uploads/<%= bin.path %>"><%= file.name %></a>
    </li>
    <li>
      version: <%= bin.v %>
    </li>
    <li>
      batch name: <%= batch.name %>
    </li>
  </ul>
</main>
<%- include('includes/footer.ejs') %>
