<%- include('includes/header.ejs') %>
<main>
  <% if (manufacturerList.length === 0) {%>
  <p>Nothing to show</p>
  <%} else {%>
  <table>
    <tr>
      <td>Sl No</td>
      <td>Name</td>
      <td>Added Date</td>
    </tr>
    <% manufacturerList.forEach((val, ind) => { %>
    <tr>
      <td> <%= ind + 1 %> </td>
      <td><a href="/manufacturers/<%= val.id %>"><%= val.name %></a></td>
      <td><%= val.addedDate.toLocaleString('in') %></td>
    </tr>
    <%})%>
  </table>
  <%}%>
</main>
<%- include('includes/footer.ejs') %>

