<%- include('includes/header.ejs') %>
<% if (!espInfo) { %>
<main>
  <p>Server Error</p>
</main>
<% } else { %>
<main>
  <p><a href="/esps">ESPs</a></p>
  <p>Name: <%= espInfo.name %></p>
  <p>Date added: <%= espInfo.dateAdded.toLocaleString('in') %></p>
  <% if (pics.length === 0) { %>
  <p>No pic ids updated with this esp.</p>
  <%} else {%>
  <table>
    <tr>
      <td>Sl No</td>
      <td>PicId</td>
      <td>UpdatedDate</td>
      <td>Previous Bin version</td>
      <td>Current Bin version</td>
    </tr>
    <% pics.forEach((val, ind) => { %>
    <tr>
      <td> <%= ind + 1 %> </td>
      <td><%= val.picId %></td>
      <td><%= val.otaDate.toLocaleString('in')%></td>
      <td><%= val.prevBinVersion.v %></td>
      <td><%= val.binVersion.v %></td>
    </tr>
    <%})%>
  </table>
  <%} %>
</main>
<%} %>
<%- include('includes/footer.ejs') %>
