<%- include('includes/header.ejs') %>
<main>
  <% if (!singleBatch) {%>
  <p>Server Error</p>
  <%} else {%>
  <p><a href="/batches/">Batches</a></p>
  <p>Name : <%= singleBatch.name %></p>
  <p>Added date: <%= singleBatch.batchDate %></p>
  <table>
    <tr>
      <td>Sl No</td>
      <td>PicId</td>
      <td>UpdatedDate</td>
      <td>Previous Bin version</td>
      <td>Current Bin version</td>
    </tr>
    <% singleBatch.projectedPics.forEach((val, ind) => { 
      if (val.updated) {%>
    <tr>
      <td> <%= ind + 1 %> </td>
      <td><%= val.picId %></td>
      <td><%= val.otaDate.toLocaleString('in')%></td>
      <td><%= (val.prevBinVersion?.v || 'missing') %></td>
      <td><%= (val.binVersion?.v || 'missing' )%></td>
    </tr>

    <%} else {%>
    <tr>
      <td> <%= ind + 1 %> </td>
      <td><%= val.picId %></td>
      <td>NA</td>
      <td>NA</td>
      <td>NA</td>
    </tr>
    <%}%>
    <%})%>
  </table>
  <%}%>
</main>
<%- include('includes/footer.ejs') %>
